<% include ./head.ejs %>
<nav class="navbar navbar-expand-md bg-dar">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <% if (user) { %>
            <li class="nav-item">
              <form action="/logout" method="post">
                <button type="submit" class="btn">Logout </button>
              </form>
            </li>
            <li class="nav-item">
              <form action="/users/<%= user.id %>" method="get">
                <button type="submit" class="btn">Profile</button>
              </form>
            </li>
            <li class="nav-item">
              <a href="/users/<%= user.id %>/resources" class="btn">My Posts</a>
            </li>
            <li class="nav-item"></li>
              <a href="/resources/new" class="btn">New Post</a>
            </li>
            <li>
              <span class="navbar-brand mb-0 h1">Welcome, <%= user.name%></span>
            </li>
          <% } else { %>
            <a href="/login" class="btn btn-warning">Login</a>
            <a href="/register" class="btn btn-primary">Register</a>
          <% } %>
        </ul>
        <form class="form-inline mt-2 mt-md-0" for="query" action="/resources/search" method="get">
          <input class="form-control mr-sm-2" name="query" type="search" placeholder="Search">
          <button class="btn my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
</nav>

<% if (success && success.length > 0) { %>
  <br>
  <div class="container">
      <div class="alert alert-success" role="alert"><%= success %></div>
  </div>
<% } %>
<% if (error && error.length > 0) { %>
  <br>
  <div class="container">
      <div class="alert alert-danger" role="alert"><%= error %></div>
  </div>
<% } %>
