<% include ./head.ejs %>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/resources">Resources Wall</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
          <% if (user) { %>
            <li>
              <a class="navbar-brand mb-0 welcome"><%= user.name%></a>
            </li>
            <li class="nav-item">
              <a href="/users/<%= user.id %>" class="btn" data-container="body" data-trigger="hover" data-toggle="popover" data-placement="bottom" data-content="Profile"><i class="fas fa-user-circle fa-lg"></i></a>
            </li>
            <li class="nav-item">
              <a href="/users/<%= user.id %>/resources" class="btn" data-container="body" data-trigger="hover" data-toggle="popover" data-placement="bottom" data-content="My Resources"><i class="fas fa-book-open fa-lg"></i></a>
            </li>
            <li class="nav-item">
              <a href="/resources/new" class="btn" data-container="body" data-trigger="hover" data-toggle="popover" data-placement="bottom" data-content="New Resources"><i class="fas fa-plus fa-lg"></i></a>
            </li>
            <li class="nav-item">
              <form action="/logout" method="post">
                <button type="submit" class="btn" data-container="body" data-trigger="hover" data-toggle="popover" data-placement="bottom" data-content="Logout"><i class="fas fa-sign-out-alt fa-lg"></i></button>
              </form>
            </li>
            <li class="nav-item">
                <a href="" id="search-icon" class="btn" data-container="body" data-trigger="hover" data-toggle="popover" data-placement="bottom" data-content="Search"><i class="fas fa-search fa-lg"></i></a>
            </li>

            <% } else { %>
            <!-- Button trigger modal -->
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#login-modal">
                  Login
              </button>
                
                <!-- Button trigger modal -->
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#register-modal">
                    Register
              </button>
              <a href="" id="search-icon" class="btn" data-container="body" data-trigger="hover" data-toggle="popover" data-placement="bottom" data-content="Search"><i class="fas fa-search fa-lg"></i></a>
          <% } %>
      </ul>
    </div>
  </nav>
  <br>
    <div class="container" id="search-form">
      <form action="/resources/search" method="get">
        <div class="form-group">
          <input type="search" name="query" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
      </form>
    </div>

<% if (success && success.length > 0) { %>
  <br>
  <div class="container">
      <div class="alert alert-success" role="alert"><%= success %></div>
  </div>
<% } %>
<% if (error && error.length > 0) { %>
  <br>
  <div class="container">
      <div class="alert alert-danger" role="alert"><%= error %></div>
  </div>
<% } %>

<!-- Modal login -->
<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Login</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form action="/login" method="post">
    
            <div class="form-group">
              <label for="email">Email address</label>
              <input type="email" name="email" class="form-control" placeholder="Enter email" required>
            </div>
    
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" name="password" class="form-control" placeholder="Password" required>
            </div>
    
            <button type="submit" class="btn btn-primary">Log in</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

          </form>
      </div>
      
    </div>
  </div>
</div>


  
  <!-- Modal register -->
  <div class="modal fade" id="register-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Register</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="/register" method="post">
            <div class="form-group">
              <label for "fileupload">Image URL</label>
              <input id="fileupload" type="fileupload" name="full_name" class="form-control" placeholder="Enter your Filpath">
            </div>
            <div class="form-group">
              <label for="full_name">Full Name</label>
              <input id="full_name" class="form-control" type="full_name" name="name" placeholder="Enter your Full Name" required>
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input id="email" class="form-control" type="email" name="email" placeholder="Enter an email" required>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input id="password" class="form-control" type="password" name="password" placeholder="Enter a password" required>
            </div>
            <button type="submit" class="btn btn-primary" align="center">Register</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </form>
        </div>        
      </div>
    </div>
  </div>