<% include partials/header %>
<body>

  <main class="container">
    <div class="row">
      <div class="col-md-4">
          <ul class="list-group">
              <li class="list-group-item active">Cras justo odio</li>
              <li class="list-group-item">Dapibus ac facilisis in</li>
              <li class="list-group-item">Morbi leo risus</li>
              <li class="list-group-item">Porta ac consectetur ac</li>
              <li class="list-group-item">Vestibulum at eros</li>
            </ul>
      </div>
      <div class="col-md-8">
        <h2><%= resource.title %></h2>
        <img src="https://upload.wikimedia.org/wikipedia/commons/f/f9/Phoenicopterus_ruber_in_S%C3%A3o_Paulo_Zoo.jpg" width="500" height="333">
        <p><%= resource.description %></p>
        <div class="rate">
            <input type="radio" id="star5" name="rate" value="5" />
            <label for="star5" title="text">5 stars</label>
            <input type="radio" id="star4" name="rate" value="4" />
            <label for="star4" title="text">4 stars</label>
            <input type="radio" id="star3" name="rate" value="3" />
            <label for="star3" title="text">3 stars</label>
            <input type="radio" id="star2" name="rate" value="2" />
            <label for="star2" title="text">2 stars</label>
            <input type="radio" id="star1" name="rate" value="1" />
            <label for="star1" title="text">1 star</label>
        </div><br/>
        <form action="/resources/<%= resource.id%>/comment" method="POST">
            <h4>Comments</h4>
            <div class="form-group">
              <textarea placeholder="http://www.yahoo.com" class="form-control" name="comment"></textarea>
              <button type="submit" class="btn btn-success btn-sm">Add Comments</button>
            </div>
        </form>
        <div>
          <% comments.forEach(function (comment) { %>
            <p><%= comment.text %> - <%= comment.name %></p>
          <% }) %>
        </div>
      </div>

    </div>
  </main>

</body>
</html>
